# Secretos y variables de entorno (OBLIGATORIO)
.env

# Entorno virtual de Python
.venv/
venv/
env/
ENV/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# IDEs (PyCharm, VSCode)
.idea/
.vscode/

# Logs y archivos temporales
*.log
tmp/

# NOTA: NO hemos incluido db.sqlite3 porque el profesor
# pide ver vuestra base de datos en la entrega.